.bookmarks-container {
  text-align: center;
  padding: 20px;
}

.movies-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.movie-card {
  width: 200px;
  text-align: center;
}

.movie-card img {
  width: 100%;
  border-radius: 10px;
}
.cancel-btn {
  margin-top: 10px;
  padding: 6px 12px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-btn:hover {
  background-color: darkred;
}
