
.explore-container {
  background-color: #12151d;
  color: white;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
  width: 480px;
}

/* Header */
.explore-header {
  display: flex;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 10px;
  padding: 3em 2em;
  justify-content: space-between;
}

.explore-heading {
  flex: 1;
  text-align: center;
}

/* Search Bar */
.search-wrapper_explore {
  display: flex;
  align-items: center;
  gap: 8px;
}

.search-input_explore {
  background-color: #2a2a2a;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 5px 10px;
  outline: none;
  font-size: 14px;
  width: 160px;
}

.search-icon_explore {
  font-size: 20px;
  color: white;
  cursor: pointer;
}

/* Toggle Tabs */
.toggle-tabs {
  display: flex;
  background-color: #2a2a2a;
  border-radius: 16px;
  overflow: hidden;
  margin: 20px 2em;
  padding: 1.2em;
}

.toggle-tab {
  flex: 1;
  text-align: center;
  font-size: 16px;
  color: #888;
  cursor: pointer;
  padding: 1.5em;
}

.toggle-tab.active,
.toggle-tab:hover {
  background-color: #4ea8ff;
  color: white;
  border-radius: 16px;
}

/* Section Titles */
.section-title-first {
  display: flex;
  padding: 0 2em;
  align-items: baseline;
}

.section-title {
  font-size: 20px;
  font-weight: bold;
  text-align: start;
  flex: 1;
}

.see-more-explore {
  background: none;
  border: none;
  color: rgb(132, 130, 130);
  font-size: 1em;
  cursor: pointer;
  margin-top: 2em;
  display: block;
}

/* Movies Grid */
.movies-grid {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding-bottom: 1rem;
  scroll-snap-type: x mandatory;
  justify-content: flex-start;
  margin: 0 2em;
}

.movies-grid::-webkit-scrollbar {
  height: 6px;
}

.movies-grid::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 4px;
}

/* Movie Cards */
.movie-card {
  flex: 0 0 auto;
  width: 250px;

  border-radius: 12px;

  text-align: center;
  scroll-snap-align: start;
}

.movie-card-recommended{
    flex: 0 0 auto;
  width: 150px;
height: 200px;
  border-radius: 12px;

  text-align: center;
  scroll-snap-align: start;
}
.movie-card img, .movie-card-recommended img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.movie-card, .movie-card-recommended h3 {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.movie-card, .movie-card-recommended p {
  font-size: 0.9rem;
  color: gold;
}
.movie-card a, .movie-card-recommended a{
  text-decoration: none;
  color: inherit; 
}
.movie-poster {
  width: 100%;
  border-radius: 12px;
}
